.active{
    background-color:white;
    color:black;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(9,9,8);
    position: sticky;
    top: 0;
    z-index:9999;
}

nav .title{
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav ul{
    display: flex;
    padding-right: 0.3rem;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

/* nav ul li a:not(.active):hover{
    background-color: grey;
} */

nav .menu{
    display:flex;
    right:0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
    color: white;
    margin-right: 0.8rem;
}

nav .x{
    display:flex;
    right:0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
    color: white;
    margin-right: 0.8rem;
}

nav .menu-container{
    display: block;
}

nav .side-menu{
    display: block;

}

.side-items{
    width: 100%;
    display: block;
}

.sidebar-toggle{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side{
    background-color: rgb(9,9,8);
    width: 75px;
    height: 18vh;
    display:block;
    position: fixed;
    top: -100%;
    right:0;
    transition: 750ms ease-in-out;
    z-index: 999;
    border-bottom-left-radius: 0.7rem;
}

.side.active{
    top:5.5vh;
    right:0;
    transition: 350ms ease-in-out;
}

.orienatation-icon{
    display: flex;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
    color: white;
    margin-right: 0.8rem;
}

.orienatation-icon:active{
    background-color:white;
    color:black;
}
